{%  extends "base.html" %}
{{ super() }}
{% block content %}
    <main>
        <div class="account-main-data">
            <img src="https://cdn-icons-png.flaticon.com/512/929/929493.png?w=740&t=st=1669320924~exp=1669321524~hmac=2f112dcc4faa5aa4d4a998bbafdef295526295bd6106fd63cfa550a515559dc0" alt="">
            <div class="account-main-data-data">
                <p> Имя пользователя: {{ username }} </p>
                <p> Дата регистрации: {{ date }}</p>
                <p> Товаров в корзине: {{ count_items }}</p>
                <p> Статус: {{ group }}</p>
            </div>
        </div>
            <div class="account-bucket">
                <h3>Корзина</h3>
                {% for item in bucket %}
                    {% if item.state == "await" %}
                    <div class="account-bucket-item">
                        <p> {{item.title}} </p>
                        <p> {{item.description[0:200]}}...</p>
                        <p> Цена: {{item.price}} </p>
                        <p> Дата покупки: {{item.time[0:19]}}</p>
                        <form action="/account" method="post">
                            <input type="number" name="id" value="{{item.mainid}}" hidden>
                            <input type="submit" value="Удалить">
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="buy-something">
                <h3> Введите адрес для доставки: </h3>
                <form action="/account" method="post">
                    <input type="text" name="address" required>
                    <input type="submit" value="Заказать">
                </form>
            </div>

            <div class="account-bucket">
                {% set t = namespace(x=-1) %}
                {% for item in bucket %}
                    {% if item.state != "await" %}
                        {% set t1 = item.orderid %}
                        {% if t1 != t.x %}
                            <h2> Заказ №{{t1}} </h2>
                        {% endif %}
                            <div class="account-bucket-item">
                                <p> {{item.title}} </p>
                                <p> {{item.description[0:200]}}...</p>
                                <p> Цена: {{item.price}} </p>
                                <p> Дата покупки: {{item.time[0:19]}}</p>
                            </div>
                    {% endif %}
                {% set t.x = t1 %}
                {% endfor %}
            </div>
    </main>
{% endblock content %}
