{%  extends "base.html" %}
{{ super() }}
{% block content %}
    <div class="login-form">
        {% for category, message in get_flashed_messages(True) %}
            <div class="flash {{ category }}"> {{ message }}</div>
        {% endfor %}
        <h3> Добавить товар </h3>
        <form action="/create" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Заголовок" name="title" required>
            <textarea placeholder="Описание" name="description" cols="10" rows="10" required> </textarea>
            <input type="file"  placeholder="Изображение" name="file" required>
            <input type="number" placeholder="Цена" name="price" required>
            <input type="submit" value="Добавить товар">
        </form>
    </div>
{% endblock content %}
