{%  extends "base.html" %}
{{ super() }}
{% block content %}
    <div class="login-form">
        {% for category, message in get_flashed_messages(True) %}
            <div class="flash {{ category }}"> {{ message }}</div>
        {% endfor %}
        <h3> Логин </h3>
        <form action="/login" method="post">
            <input type="text" placeholder="Имя пользователя" name="username" required>
            <input type="password" placeholder="Пароль" name="password" required>
            <input type="submit" value="Вход">
        </form>
        <p> Еще не зарегистрированы ? Вам
            <a href="/register"> Сюда</a>
        </p>
    </div>
{% endblock content %}
