{%  extends "base.html" %}
{{ super() }}
{% block content %}
    <div class="login-form">
        {% for category, message in get_flashed_messages(True) %}
            <div class="flash {{ category }}"> {{ message }}</div>
        {% endfor %}
        <h3> Регистрация </h3>
        <form action="/register" method="post">
            <input type="text" placeholder="Имя пользователя" name="username" required>
            <input type="password" placeholder="Пароль" name="password" required>
            <input type="submit" value="Зарегистрироваться">
        </form>
        <p> Уже зарегистрировались. Вам
            <a href="/register"> Сюда</a>
        </p>
    </div>
{% endblock content %}
