{%  extends "base.html" %}
{{ super() }}
{% block content %}
<main>
    {% for category, message in get_flashed_messages(True) %}
    <div class="flash {{ category }}"> {{ message }}</div>
    {% endfor %}
    <div class="stock">
    {% for item in items %}
        <div class="thing">
            <img src="{{item.picture}}" alt="">
            <h3> {{item.title}} </h3>
            <p> {{item.description}}</p>
            <p class="price"> Цена: <span>{{item.price}}</span></p>
            <form action="/shop" method="post">
                <input type="text" name="item-id" value={{item.id}}>
                <input type="submit" value="Купить">
            </form>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock content %}
