{%  extends "base.html" %}
{{ super() }}
{% block content %}
<main>
    {% for category, message in get_flashed_messages(True) %}
    <div class="flash {{ category }}"> {{ message }}</div>
    {% endfor %}
    <div class="complaints">
    {% for item in complaints %}
        <div class="complaint">
            <div class="complaint-content-header">
                <p class="complaint-user"> <span>{{item.username}}</span></p>
                <p class="complaint-time"> {{item.time[0:11]}}</p>
            </div>
            <div class="complaint-content-wrapper">
                <h3> {{item.title}} </h3>
                <p class="complaints-content"> {{item.content}}</p>
                {% if menu_category == "admin" %}
                <form action="/view_complaints" method="post">
                    <input type="text" name="id" value="{{item.id}}" hidden>
                    <input type="submit" value="Удалить">
                </form>
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock content %}
