{%  extends "base.html" %}
{{ super() }}
{% block content %}
<main>
    {% for category, message in get_flashed_messages(True) %}
    <div class="flash {{ category }}"> {{ message }}</div>
    {% endfor %}
    <div class="complaints">
    {% for item in complaints %}
        <div class="complaint">
            <h3> {{item.title}} </h3>
            <p> {{item.content}}</p>
            <p> Время: {{item.time[0:20]}}</p>
            <p class="price"> Пользователь: <span>{{item.username}}</span></p>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock content %}
